{% extends "intex.html" %}

{% block content %} 
<h1 class="text-center">EDIT AND DELETE YOUR ACCOUNT</h1>
<div class="d-flex align-items-center justify-content-center">
    <div class="mt-4">
        
        <h2>FIRST NAME : {{user.first_name}} <a href="">Edit</a></h2> 
        <h2>FIRST NAME : {{user.last_name}} <a href="">Edit</a></h2>
        <h2>FIRST NAME : {{user.username}} <a href="">Edit</a></h2>
        <h2>FIRST NAME : {{user.email}} <a href="">Edit</a></h2>
        <h2>FIRST NAME : p.........d <a href="">Edit</a></h2>
    </div>
</div>


{% endblock %}