{% extends "intex.html" %}
{% block title %}LOG IN{% endblock %}
{% block content %} 
<h1 class="text-center">LOGIN NEW</h1>
<div class="text-center text-danger">
    <h2>{{us_pas_not_mach}}</h2>
</div>
<div class="d-flex align-items-center justify-content-center mt-4">
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="username">USERNAME</label>
            <br>
            <input type="text" name="username" id="username" placeholder="USERNAME">
        </div>
        <div>
            <label for="password">PASSWORD</label>
            <br>
            <input type="password" name="password" id="password" placeholder="PASSWORD">
        </div>
        <button type="submit">LOGIN</button>
        <a href="{% url 'signup' %}" class="pl-3">create account</a>
    </form>
</div>
{% endblock %}